# See .github/CONTRIBUTING.md for details.

version: '3'
volumes:
  postgres-db:
    driver: local
  maria-db:
    driver: local
services:
  # https://www.beekeeperstudio.io/blog/how-to-use-mariadb-with-docker
  mysql:
    # FIXME: Still need to add Makefile rules to provision MySQL database
    container_name: mysql
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: "YourStrong!Passw0rd"
      MYSQL_DATABASE: test
      MYSQL_USER: compose
      MYSQL_PASSWORD: "YourStrong!Passw0rd"
    ports:
      - "3307:3306"
  maria:
    container_name: maria
    image: mariadb
    environment:
      MARIADB_ROOT_PASSWORD: "YourStrong!Passw0rd"
      MARIADB_DATABASE: test
      MARIADB_USER: compose
      MARIADB_PASSWORD: "YourStrong!Passw0rd"
    volumes:
      - maria-db:/var/lib/mysql
    ports:
      - "3306:3306"

  # https://blog.logrocket.com/docker-sql-server/
  mssql:
    container_name: mssql
    image: mcr.microsoft.com/mssql/server:2022-RTM-ubuntu-20.04@sha256:7c61aeefa1c8eb55bccfa8d536a283ec922c486c7688e51f193b84c5f0aa3768
    platform: linux/amd64
    environment:
      SA_PASSWORD: "YourStrong!Passw0rd"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"

  # https://geshan.com.np/blog/2021/12/docker-postgres/
  postgres:
    container_name: postgres
    # FIXME: brittle tests fail with latest PostgreSQL
    image: postgres:14@sha256:8f7ae11760980811fd91845f89fcf6e01801b9b08f7d72a6796e1bee1e0098fb
    environment:
      POSTGRES_USER: compose
      POSTGRES_PASSWORD: "YourStrong!Passw0rd"
    volumes:
      - postgres-db:/var/lib/postgresql/data
    ports:
      - "5432:5432"
