/* import fonts font */
@import url(https://fonts.googleapis.com/css?family=Roboto + Mono);
@import url(https://fonts.googleapis.com/css?family=Fira+Code);
@import url(https://fonts.googleapis.com/css?family=IBM + Plex + Mono:300, 400);

@font-face {
  font-family: "frutiger-light";
  src: url("https://www.cynkra.com/fonts/1449009/e5acedaa-f4c6-4128-8b5a-2f3f8324f09b.eot"); /* IE9 Compat Modes */
  src: url("https://www.cynkra.com/fonts/1449009/e5acedaa-f4c6-4128-8b5a-2f3f8324f09b.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://www.cynkra.com/fonts/1449009/b3ca2df2-7bee-4fc0-84cb-b029b99c3b61.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("https://www.cynkra.com/fonts/1449009/554d0bc9-df00-45eb-993e-f62841c80ab1.woff")
      format("woff"),
    /* Pretty Modern Browsers */
      url("https://www.cynkra.com/fonts/1449009/3512931d-90c5-4aa4-b0dc-3a3630c65f37.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("https://www.cynkra.com/fonts/1449009/f8b7e418-9dc4-4040-ac46-c50501eac7b5.svg#f8b7e418-9dc4-4040-ac46-c50501eac7b5")
      format("svg"); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "frutiger-light";
  src: url("https://www.cynkra.com/fonts/1449011/2b51737a-65e3-4d3c-b9f8-584e27727ccd.eot"); /* IE9 Compat Modes */
  src: url("https://www.cynkra.com/fonts/1449011/2b51737a-65e3-4d3c-b9f8-584e27727ccd.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://www.cynkra.com/fonts/1449011/5dabc0f4-5497-42fb-ad16-ee2423337cb0.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("https://www.cynkra.com/fonts/1449011/21fc589b-c373-4c02-9c5a-66379ff223e1.woff")
      format("woff"),
    /* Pretty Modern Browsers */
      url("https://www.cynkra.com/fonts/1449011/cd86b01a-7f39-480d-b238-eeb83bde04ba.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("https://www.cynkra.com/fonts/1449011/fa9d4094-d898-4ee0-8b97-0f12071e354a.svg#fa9d4094-d898-4ee0-8b97-0f12071e354a")
      format("svg"); /* Legacy iOS */
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "frutiger-light";
  src: url("https://www.cynkra.com/fonts/1449025/418faef6-65aa-48f3-b1e1-c944af42723a.eot"); /* IE9 Compat Modes */
  src: url("https://www.cynkra.com/fonts/1449025/418faef6-65aa-48f3-b1e1-c944af42723a.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://www.cynkra.com/fonts/1449025/c31af250-c28e-40ef-bed6-866e7ed6fedf.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("https://www.cynkra.com/fonts/1449025/c31af250-c28e-40ef-bed6-866e7ed6fedf.woff")
      format("woff"),
    /* Pretty Modern Browsers */
      url("https://www.cynkra.com/fonts/1449025/8ce19370-12eb-42ca-9585-370280f97596.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("https://www.cynkra.com/fonts/1449011/fa9d4094-d898-4ee0-8b97-0f12071e354a.svg#fa9d4094-d898-4ee0-8b97-0f12071e354a")
      format("svg"); /* Legacy iOS */
  font-weight: bold;
  font-style: normal;
}

/* link coloring: Using the blue tone of the cynkra dot*/
a {
  color: #1f65b7;
  text-decoration: none;
}

/* code font */
code,
kbd,
pre,
samp {
  font-family: Fira Code, monospace;
  font-size: 85%;
  background-color: #f5f5f5;
}

/* headers ------------------------------------------------------------------ */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "frutiger-light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

/* body font ---------------------------------------------------------------- */
html,
body {
  font-family: "frutiger-light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
}

/* syntax highlighting ------------------------------------------------------ */

/* "googlecode" style */

.fu      {color: #3838a2;} /* function */
.ch,.st  {color: #008800;} /* string */
.kw      {color: #418d8d;} /* keyword */
.co      {color: #880000;} /* comment */

.message { color: black;   font-weight: bolder;}
.error   { color: orange;  font-weight: bolder;}
.warning { color: #6A0366; font-weight: bolder;}

/* borrowed from ropensci/rotemplate ---------------------------------------- */

.navbar .navbar-brand {
  font-size: 16px;
  color: #1f65b7;
  min-height: 40px;
}

.version.label.label-default.version-default {
  background-color: #dfe3eb;
  color: #1f65b7;
  margin-bottom: 3px;
  font-size: 100%;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #1f65b7;
  background-color: #fff;
}

/* reference navbar --------------------------------------------------------- */

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: #fff;
  background-color: #1f65b7;
}

#sidebar .nav > li {
  padding: 0 0 0 20px;
  display: list-item;
  line-height: 15px;
}

#hexlogo {
  height: 33px;
  float: left;
  margin: 5px;
  margin-right: 15px;
  margin-top: 10px;
}

@media screen and (max-width: 480px) {
  .navbar .navbar-brand {
    padding-left: 5px;
    padding-right: 0;
    margin-right: -120px;
  }
}

small,
.small {
  font-size: 70%;
  font-weight: 400;
  letter-spacing: 0.03em;
}

/* cynkra logo classes  ----------------------------------------------------- */

.cynkra-logo {
  font-size: 85% !important;
  color: #1f65b7 !important;
  padding-left: 2px !important;
  padding-top: 16px;
  padding-right: 15px;
  float: left;
  line-height: 20px;
}

.cynkra-logo-font {
  font-size: 16px;
  font-weight: bold;
  /* color: rgb(108, 111, 115);   text color */
  color: rgb(45, 50, 56);
  padding-top: 14px;
  float: left;
  line-height: 20px;
}

.cynkra-logo-footer {
  font-size: 85% !important;
  color: #1f65b7 !important;
  padding-left: 1.5px !important;
  line-height: 20px;
}
.cynkra-logo-font-footer {
  font-size: 14px;
  font-weight: bold;
  /* color: rgb(108, 111, 115);   text color */
  color: rgb(45, 50, 56);
}

/* footer ------------------------------------------------------------------- */

.footer-left {
  font-size: 14px;
}
.footer-right {
  font-size: 14px;
  text-align: right;
}

footer {
  margin-top: 20px;
  padding: 15px 0px 36px 0px;
}

/* navbar ------------------------------------------------------------------- */

.navbar-brand {
  text-transform: none; /* no uppercase package title */
  font-family: "frutiger-light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 15px !important;
  line-height: 20px;
}

.navbar {
  font-weight: 400;
  font-size: 17px;
  background-color: white;
  -webkit-box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.1);
}

/* color pkg name in "cynkra blue" */
.navbar-default .navbar-link {
  color: #1f65b7;
}

/* font-size of bootstrap ToC entries */
nav[data-toggle="toc"] .nav > li > a {
    font-size: 1.0rem;
    font-weight: 300;
}

.navbar-default .navbar-right  > li > a {
  color: rgb(45, 50, 56);
  font-size: 85%;
  font-weight: 400;
}

.navbar-default .navbar-left  > li > a {
  color: gray;
  font-size: 12px;
  font-style: italic;
  line-height: 20px;
  padding-right: 0px;
  padding-left: 10px;
  padding-top: 16.5px;
}

/* sidebar ------------------------------------------------------------------ */

#pkgdown-sidebar h2 {
  font-size: 1.3em;
}
