.cheatsheet-svg {
  width: 50%;
}

.cheatsheet-div {
  display: flex;
}

.cheatsheet-div {
  display: flex;
  margin-top: 20px;
}

.cheatsheet-caption {
  margin-left: 10px;
}

.cheatsheet-caption pre {
  height: fit-content;
}
