name: 'Custom steps to run before R packages are installed'

runs:
  using: "composite"
  steps:
    - name: Define _R_CHECK_PKG_SIZES_THRESHOLD_
      run: |
        echo '_R_CHECK_PKG_SIZES_THRESHOLD_=10' | tee -a $GITHUB_ENV
      shell: bash

    - name: Define DM_SETUP_DB
      run: |
        echo "DM_SETUP_DB=${{ matrix.config.setup-db }}" | tee -a $GITHUB_ENV
      shell: bash

    - name: Clean up broken mysql apt
      # FIXME: Remove if package becomes unavailable
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        if [ $(lsb_release --short --codename) == 'focal' ]; then
          sudo apt-get install mysql-common=5.8+1.0.5ubuntu2 --allow-downgrades
        fi
      shell: bash

    - name: Allow installing odbc from source on macOS
      if: runner.os == 'macOS'
      run: |
        brew install unixodbc
      shell: bash
