# Workflow derived from https://github.com/r-lib/actions/tree/master/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
#
# NOTE: This workflow is overkill for most R packages and
# check-standard.yaml is likely a better choice.
# usethis::use_github_action("check-standard") will install it.
on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
  schedule:
    - cron: "10 0 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}
  cancel-in-progress: true

name: rcc

jobs:
  # Windows checks can be run in parallel and independently
  # when they alone take as long as the smoke and full tests combined.
  # To achieve this, remove the "needs:" element below.
  rcc-windows:
    # Begin custom: early run
    # End custom: early run

    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }}) ${{ matrix.config.desc }}

    # Begin custom: services
    # End custom: services

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: windows-latest, r: 'release'}
          # Use 3.6 to trigger usage of RTools35
          - {os: windows-latest, r: '3.6'}

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ needs.rcc-smoke.outputs.sha }}

      - uses: ./.github/workflows/custom/before-install
        if: hashFiles('.github/workflows/custom/before-install/action.yml') != ''

      - uses: ./.github/workflows/install
        with:
          r-version: ${{ matrix.config.r }}
          cache-version: rcc-windows-1
          token: ${{ secrets.GITHUB_TOKEN }}
          needs: check

      - uses: ./.github/workflows/custom/after-install
        if: hashFiles('.github/workflows/custom/after-install/action.yml') != ''

      - uses: ./.github/workflows/update-snapshots
        if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository

      - uses: ./.github/workflows/check
        with:
          results: ${{ runner.os }}-r${{ matrix.config.r }}
